.footer {
    position: relative;
    padding: 200px 0px 0px 0px;
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 0px 40px 0px;
    }

    &__body-item {
        margin: 0px 0px 20px 0px;
    }

    &__item {
        &-center {
            background: radial-gradient(ellipse, rgba(31, 55, 255, 1) 10%, rgba(0, 11, 35, 1) 75%);
            @media (max-width: 605px) {
                margin: 0px 0px 40px 0px;
            }
        }
    }

    &__item-col {
        display: flex;
        align-items: center;
        margin: 0px 0px 20px 0px;
    }

    &__item-img {
        width: 30px;
        height: 30px;
        margin: 0px 15px 0px 0px;
    }

    &__item-link {
        color: #ffffff;
        transition: 0.3s;
        &:hover {
            text-decoration: underline;
            transition: 0.3s;
        }
    }

    &__item-title {
        text-transform: uppercase;
        color: #ffffff;
        margin: 0px 0px 40px 0px;
    }

    &__copywriting {
        color: #ffffff;
        text-align: center;
    }
    &__icon {
        &-top {
            position: fixed;
            right: 5%;
            bottom: 10%;
            width: 60px;
            height: 60px;
            border: 2px solid #00eefd;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                & img {
                    top: 0;
                    transition: 0.3s;
                }
            }
        }
        &-topBg {
            width: 50px;
            height: 50px;
            background: #3046ff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-arrow {
            position: relative;
            top: 40%;
            transition: 0.3s;
        }
    }
}
